body,html{	
	overflow-x: hidden;
	color: #515151;
	background: #fff;
	font-size: 18px;
	font-family: 'Ageo';
}
[class*="titulo"], h1,h2,h3,h4,h5{
	color: #752686;
	font-family: 'Poppins';
	font-weight: normal;
}
.font2{
	font-family: 'Poppins';	
}
.titulo{
	font-size: 32px;
	margin-bottom: 32px;
}
.titulo-2{
	font-size: 24px;
	margin-bottom: 24px;
}
.titulo-widget{
	font-size: 16px;
	font-weight: bold;
}
.texto-destaque{
	font-size: 24px;
	font-weight: bold;
}
.uppercase{
	text-transform: uppercase;
}
.breadcrumbs{
	font-family: "Poppins";
	text-transform: uppercase;
	.current-item{
		font-weight: bold;
		color: #fff;
	}
}
p{
	margin-bottom: 0;
	text-align: justify;
	+ *{
		margin-top: 24px;
	}
}
a, button, input{
	color: inherit;
	&.logout{
		color: #009E60;
		text-transform: uppercase;
		font-size: 14px;
		&:hover{
			text-decoration: underline;
		}
	}
	&.btn{
		display: inline-block;
		font-family: "Poppins";
		padding: 0 45px;
	    color: #fff;
	    line-height: 50px;
	    font-size: 16px;
	    font-weight: 600;
	    border: none;
		border-radius: 50px;
	    background: #009E60;
		&.inverso{
			color: #009E60;
			border: 2px solid #009E60;
			background-color: #fff;
		}
		&:hover{
			color: #fff;
			text-decoration: none;
		}
		+ .btn{
			margin-left: 10px;
			@include for-phone{
				margin-left: 0;
				margin-top: 16px;
			}
		}
	}
	&:hover{
		color: inherit;		
		text-decoration: none;
	}
}
[class*="col"]{
	+ [class*="col"]{
		@include for-phone{
			margin-top: 24px;
		}
	}
}
