body,html{	
	overflow-x: hidden;
	color: #666666;
	background: #fff;
	font-size: 18px;
	font-family: 'Ageo';
	font-weight: 500;
}
[class*="titulo"], h1,h2,h3,h4,h5{
	font-family: 'Poppins';
	font-weight: normal;
}
.font2{
	font-family: 'Poppins';	
}
.titulo{
	font-size: 32px;
	margin-bottom: 32px;
}
.titulo-2{
	font-size: 24px;
	margin-bottom: 24px;
}
.titulo-widget{
	font-size: 16px;
	font-weight: bold;
}
.texto-destaque{
	font-size: 24px;
	font-weight: bold;
}
.uppercase{
	text-transform: uppercase;
}
.breadcrumbs{
	font-family: "Poppins";
	text-transform: uppercase;
	.current-item{
		font-weight: bold;
		color: #fff;
	}
}
.botao {
	display: block;
	padding: 24px;
	background-color: #92B34A;
	color: #fff;
	border-radius: 8px;
	line-height: 24px;
	width: fit-content;
	text-transform: uppercase;
}
p{
	margin-bottom: 0;
	+ *{
		margin-top: 24px;
	}
}
a, button, input{
	color: inherit;
	&.logout{
		color: #009E60;
		text-transform: uppercase;
		font-size: 14px;
		&:hover{
			text-decoration: underline;
		}
	}
	&.btn{
		display: inline-block;
		font-family: "Poppins";
		padding: 0 45px;
	    color: #fff;
	    line-height: 50px;
	    font-size: 16px;
	    font-weight: 600;
	    border: none;
		border-radius: 50px;
	    background: #009E60;
		&.inverso{
			color: #009E60;
			border: 2px solid #009E60;
			background-color: #fff;
		}
		&:hover{
			color: #fff;
			text-decoration: none;
		}
		+ .btn{
			margin-left: 10px;
			@include for-phone{
				margin-left: 0;
				margin-top: 16px;
			}
		}
	}
	&:hover{
		color: inherit;		
		text-decoration: none;
	}
}
[class*="col"]{
	+ [class*="col"]{
		@include for-phone{
			margin-top: 24px;
		}
	}
}

div.contato {
	display: flex;
	justify-content: flex-end;
	.social-media {
		ul {
			list-style-type: none;
			display: flex;
			gap: 4px;
			align-items: center;
			margin: 0;
		}
		margin-right: 32px;
	}
	.mail {
		display: flex;
		align-items: center;
		gap: 9px;
		margin-right: 38px;
		font-size: 20px;
	}
	.phone {
		display: flex;
		align-items: center;
		gap: 9px;
		font-size: 20px;
	}
}

.conteudo-servicos {
	display: flex;
	align-items: flex-start;
	gap: 32px;
	padding: 120px 160px;
}
.conteudo {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 692.52px;
	h1 {
		color: #92B34A;
		font-size: 32px;
		margin-bottom: 32px;
		text-transform: uppercase;
	}
	h2 {
		font-size: 28px;
		margin-bottom: 24px;
	}
	p:last-child {
		display: flex;
		flex: 1;
    	align-items: flex-end;
		a {
			display: flex;
			background-color: #3A7DC0;
			width: fit-content;
			white-space: nowrap;
			padding: 33px 40px;
			border-radius: 24px;
			color: #fff;
			font-size: 26px;
			&::first-line {
				font-size: 20px;
			}
		}
	}
}
.sidebar {
	color: #666666;
	background-color: #F8F8F8;
	padding: 48px 40px 40px;
	border-radius: 8px;
	max-width: 514px;
	flex: 1;
	label {
		display: block;
		margin-bottom: 8px;
	}
	input, textarea {
		width: 100%;
		border-radius: 5px;
		background: #fff;
		border: 0;
	}
	input {
		height: 48px;
		margin-bottom: 16px;
	}
	textarea {
		height: 128px;
		margin-bottom: 32px;
	}
	button {
		height: 66px;
		padding: 24px;
		text-transform: uppercase;
		color: #fff;
		background-color: #92B34A;
		border-radius: 8px;
	}
}
.contate {
	padding: 144px 15px;
	display: flex;
	justify-content: center;
	background: url('../img/bg-servicos.png') center no-repeat;
	background-size: cover;
	.texto {
		max-width: 408px;
		text-align: center;
		color: #fff;
		h2 {
			font-size: 32px;
			margin: 24px 0 32px;
			text-transform: uppercase;
		}
		a {
			display: block;
			width: 100%;
			height: 72px;
			line-height: 72px;
			border-radius: 8px;
			background-color: #3A7DC0;
			color: #fff;
			font-size: 20px;
			text-transform: uppercase;
		}
	}
}

.sobre {
	padding: 120px 0;
	h3 {
		font-size: 20px;
		margin-bottom: 24px;
		text-transform: uppercase;
	}
	h2 {
		text-transform: uppercase;
		color: #92B34A;
		font-size: 32px;
		margin-bottom: 32px;
	}
	a {
		display: block;
		font-size: 20px;
		padding: 16px;
		text-transform: uppercase;
		background-color: #92B34A;
		color: #fff;
		max-width: 267px;
		text-align: center;
		border-radius: 8px;
	}
}
.historia {
	padding: 120px 0;
	background-color: #F9F9F9;
	h3 {
		font-size: 20px;
		margin-bottom: 24px;
		text-transform: uppercase;
	}
	h2 {
		text-transform: uppercase;
		color: #92B34A;
		font-size: 32px;
		margin-bottom: 32px;
	}
}
.pilares {
	padding: 120px 0;
	background: url('../img/bg-pilares.png') center no-repeat;
	background-size: contain;
	h3 {
		font-size: 20px;
		margin-bottom: 24px;
		text-transform: uppercase;
	}
	h2 {
		text-transform: uppercase;
		color: #92B34A;
		font-size: 32px;
		margin-bottom: 32px;
	}
}
.tag {
	padding: 48px;
	border-radius: 24px;
	float: right;
	background-color: #3A7DC0;
	color: #fff;
	text-transform: uppercase;
	font-size: 32px;
}

section.contato {
	padding: 120px 160px;
	display: flex;
	gap: 32px;
	h3 {
		font-size: 20px;
		margin-bottom: 24px;
		text-transform: uppercase;
	}
	h2 {
		text-transform: uppercase;
		color: #92B34A;
		font-size: 32px;
		margin-bottom: 32px;
	}
	.texto {
		flex: 1;
	}
	.form {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		label {
			display: block;
			flex: 1 0 45%;
			max-width: calc(50% - 8px);
			margin-bottom: 16px;
			&:last-of-type {
				flex-basis: 100%;
				max-width: 100%;
				flex: 1 0 45%;
			}
		}
		input{
			width: 100%;
			margin-top: 8px;
			height: 48px;
			border-radius: 5px;
			border: 1px solid #ACABB7;
		}
		textarea {
			height: 128px;
			border: 1px solid #ACABB7;
			border-radius: 5px;
			width: 100%;
		}
	}
}

.fale-conosco {
	padding: 120px 160px;
	display: flex;
	gap: 30px;
	> div {
		flex: 1;
		background-color: #F9F9F9;
		border-radius: 16px;
		padding: 42px 96px 42px 48px;
		display: flex;
		align-items: center;
		gap: 24px;
		h3 {
			text-transform: uppercase;
			font-size: 24px;
		}
		&.tel {
			h3 {
				color: #3A7DC0;
			}
		}
		&.whats {
			h3 {
				color: #92B34A;
			}
		}
	} 
	iframe {
		width: 100%;
		height: 638px;
		border: 0;
		margin-top: 120px;
	}
}
.localizacao {
	padding: 120px 160px;
}

.servicos {
	padding: 120px 0;
	h3 {
		font-size: 20px;
		margin-bottom: 24px;
		text-transform: uppercase;
	}
	h2 {
		text-transform: uppercase;
		color: #92B34A;
		font-size: 32px;
		margin-bottom: 32px;
	}
	.circle-menu {
		width: 100%;
		height: 0;
		padding-top: 96.05%;
		background-image: url('../img/circle-menu-sprites.png');
		background-repeat: no-repeat;
		background-size: 700%;
		position: relative;
		&:has(.btn-circle:nth-child(1):hover) {
			background-position-x: 16.667%;
		}
		&:has(.btn-circle:nth-child(2):hover) {
			background-position-x: 33.334%;
		}
		&:has(.btn-circle:nth-child(3):hover) {
			background-position-x: 49.998%;
		}
		&:has(.btn-circle:nth-child(4):hover) {
			background-position-x: 66.667%;
		}
		&:has(.btn-circle:nth-child(5):hover) {
			background-position-x: 83.333%;
		}
		&:has(.btn-circle:nth-child(6):hover) {
			background-position-x: 99.999%;
		}
		.btn-circle {
			width: 216px;
			height: 160px;
			position: absolute;
			background: transparent;
			clip-path: polygon(4% 0, 116% 0, 54% 100%, 37% 100%);
			cursor: pointer;
			&:nth-child(1) {
				transform: rotate(-39deg);
				top: 3%;
				left: 8%;
			}
			&:nth-child(2) {
				transform: rotate(22deg);
				top: 2.7%;
				left: 37.8%;				
			}
			&:nth-child(3) {
				transform: rotate(82deg);
				top: 29.4%;
				left: 52.6%;
			}
			&:nth-child(4) {
				transform: rotate(141deg);
				top: 55.6%;
				left: 38%;
			}
			&:nth-child(5) {
				transform: rotate(203deg);
				top: 55.8%;
				left: 8%;
			}
			&:nth-child(6) {
				transform: rotate(266deg);
				top: 28.5%;
				left: -6.5%;
			}
		}
	}
	.texto-menu-circle {
		&:has(input:not(#solo):checked) div{
			&:first-child {
				opacity: 0;
			}
		}
		>div {
			transition: opacity 400ms;
			&:not(:first-child), input {
				opacity: 0;
				position: absolute;
				top: 48px;
				left: 15px;
			}
			&:has(input:checked){
				opacity: 1;
			}
			
		}
	}
	&:has(.texto-menu-circle > div:nth-child(1) input:checked) .circle-menu {
		background-position-x: 16.675%;
	}
	&:has(div:nth-child(2) input:checked) .circle-menu {
		background-position-x: 33.35%;
	}
	&:has(div:nth-child(3) input:checked) .circle-menu {
		background-position-x: 50.025%;
	}
	&:has(div:nth-child(4) input:checked) .circle-menu {
		background-position-x: 66.67%;
	}
	&:has(div:nth-child(5) input:checked) .circle-menu {
		background-position-x: 83.360%;
	}
	&:has(div:nth-child(6) input:checked) .circle-menu {
		background-position-x: 100.01%;
	}
}
.ppa {
	padding: 120px 0;
	background-color: #f4f4f4;
	h3 {
		font-size: 20px;
		margin-bottom: 24px;
		text-transform: uppercase;
	}
	h2 {
		text-transform: uppercase;
		color: #92B34A;
		font-size: 32px;
		margin-bottom: 32px;
	}
}

#rev_slider_3_1_wrapper .ares.nav-dir-horizontal.nav-pos-ver-center .tp-bullet.rs-touchhover .tp-bullet-title, #rev_slider_3_1_wrapper .ares.nav-dir-horizontal.nav-pos-ver-bottom .tp-bullet.rs-touchhover .tp-bullet-title,
#rev_slider_4_1_wrapper .ares.nav-dir-horizontal.nav-pos-ver-center .tp-bullet.rs-touchhover .tp-bullet-title, #rev_slider_4_1_wrapper .ares.nav-dir-horizontal.nav-pos-ver-bottom .tp-bullet.rs-touchhover .tp-bullet-title {
	display: none;
}

.galeria {
	padding: 120px 0;
	background-color: #F9F9F9;
}
.banner-home {
	margin-top: -140px;
}