.slider-wrapper {
	&:not(.enderecos){
		.slick-slide{
			display: table;
			position: relative;		
			color: #fff;
			height: 540px;
			@include for-small-desktop{
				height: 350px;
				display: block;
			}
			.slide-bg{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				img{
					width: 100%;
					height: 100%;
				}
			}
			.container, .row{
				height: 100%;
			}
			h2{
				color: #fff;
				font-size: 40px;
				font-weight: bold;
				text-transform: uppercase;
			}

			a{
				font-family: 'Poppins';
				margin-top: 32px;
				display: inline-block;
				padding: 0 45px;
			    color: #fff;
			    line-height: 50px;
			    font-size: 16px;
			    font-weight: 600;
				border-radius: 50px;
			    background: #009E60;
				&:hover{
					color: #fff;
					text-decoration: none;
				}
			}
		}
		.slick-dots{
			position: absolute;
		    bottom: 20%;
		    z-index: 10;
		    width: 100%;
		    max-width: 1110px;
		    margin: auto;
		    left: 0;
		    right: 0;
		    @include for-phone{
				bottom: 15px;
				left: 15px;
			}
		}
	}
	.content-slider {
		padding: 0;
		margin-bottom: 0;		
	}

	.slick-list {
		z-index: 5;
		border-radius: 0;
	}

	.slick-slide {
	}
	.slick-dots {
		li {
			display: inline-block;
			width: 10px;
			height: 10px;
			border-radius: 0;
			border: 2px solid #fff;
			border-radius: 100%;
			margin: 0 8px;
			transition: opacity .3s, background .3s;
			cursor: pointer;

			&.slick-active {
				background: #fff;
				opacity: 1;
			}

			button {
				text-indent: -9999px;
			}
		}
	}

	&.enderecos{
		.slick-dots {
			margin-top: 20px;
		}
		.slick-slide{
			@include for-phone{
				text-align: center;
			}
		}
	}
}


.slider-center{
	height: auto;
	position: absolute;
	z-index: 999999999999999999999;
	top: 50%;
	max-width: 500px;
	transform: translate(0, -50%);
}


