@charset "UTF-8";
/* CSS RESET */
@import url("../fonts/Poppins/stylesheet.css");
@import url("../fonts/Ageo/stylesheet.css");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body, button, input, select, textarea {
  font-family: sans-serif;
}

:active, :focus, a:hover {
  outline: 0;
}

b, strong {
  font-weight: bold;
}

ul, li {
  list-style: none;
}

pre {
  white-space: pre-wrap;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

q {
  quotes: "“" "”" "‘" "’";
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

legend {
  border: 0;
}

button, input, select, textarea {
  vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, input[type=button], input[type=reset], input[type=submit] {
  border: none;
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: button;
}

button, select {
  text-transform: none;
}

input[type=search] {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

button[disabled], html input[disabled] {
  cursor: default;
}

img {
  max-width: 100%;
  height: auto;
}

img[src*=".svg"] {
  width: 500px\9 ;
}

@media screen and (min-width: 0\0 ) {
  img[src*=".svg"] {
    width: 500px;
  }
}
/*Custom*/
/*Custom*/
header {
  color: #fff;
  padding: 13px 52px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header.alt {
  background-color: #E9E8E7;
  color: #666666;
}
header.alt .logo-26 {
  margin-left: 120px;
}
header.alt .selo {
  margin-left: 345px;
}
header div.menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 16.5px;
  padding-right: 10px;
}
header div.menu .menu-menu-principal-container ul {
  list-style-type: none;
}
header div.menu .menu-menu-principal-container ul li {
  font-size: 20px;
}
header div.menu .menu-menu-principal-container ul li:has(> .sub-menu) {
  position: relative;
  display: flex;
  align-items: center;
}
header div.menu .menu-menu-principal-container ul li:has(> .sub-menu)::after {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/chevron-down.png") center no-repeat;
  background-size: contain;
  margin-left: 8px;
}
header div.menu .menu-menu-principal-container ul li:hover > .sub-menu {
  display: block;
}
header div.menu .menu-menu-principal-container ul.sub-menu {
  background-color: #0095EB;
  padding: 20px;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}
header div.menu .menu-menu-principal-container > ul {
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 0;
}

.breadcrumb {
  font-size: 20px;
  padding: 29px 160px 30px;
  background-color: #FBFBFB;
}
.breadcrumb a {
  color: #666666;
}
.breadcrumb .separator {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #92B34A;
  margin: 10px;
}

.newsletter {
  background-color: #F5F5F5;
  padding: 103.5px 160px 102.5px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.newsletter .call {
  max-width: 510px;
  flex: 1;
  text-transform: uppercase;
  font-size: 24px;
  margin-right: 34px;
}
.newsletter .call p:first-child {
  font-size: 20px;
  margin-bottom: 24px;
}
.newsletter .cadastro {
  display: flex;
  align-items: flex-end;
  flex: 1;
  gap: 32px;
}
.newsletter .cadastro > div {
  flex: 1;
}
.newsletter .cadastro label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
}
.newsletter .cadastro input {
  border: 0;
  padding: 16px 18px 18px;
  border-radius: 5px;
  background-color: #fff;
  height: 48px;
  width: 100%;
}
.newsletter .cadastro input::-webkit-input-placeholder {
  color: #626262;
  font-size: 14px;
  opacity: 60%;
}
.newsletter .cadastro button {
  flex: 1;
  max-width: 240px;
  height: 50px;
  background-color: #92B34A;
  border-radius: 8px;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
}

footer {
  padding: 64px 52px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body, html {
  overflow-x: hidden;
  color: #666666;
  background: #fff;
  font-size: 18px;
  font-family: "Ageo";
  font-weight: 500;
}

[class*=titulo], h1, h2, h3, h4, h5 {
  font-family: "Poppins";
  font-weight: normal;
}

.font2 {
  font-family: "Poppins";
}

.titulo {
  font-size: 32px;
  margin-bottom: 32px;
}

.titulo-2 {
  font-size: 24px;
  margin-bottom: 24px;
}

.titulo-widget {
  font-size: 16px;
  font-weight: bold;
}

.texto-destaque {
  font-size: 24px;
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.breadcrumbs {
  font-family: "Poppins";
  text-transform: uppercase;
}
.breadcrumbs .current-item {
  font-weight: bold;
  color: #fff;
}

p {
  margin-bottom: 0;
}
p + * {
  margin-top: 24px;
}

a, button, input {
  color: inherit;
}
a.logout, button.logout, input.logout {
  color: #009E60;
  text-transform: uppercase;
  font-size: 14px;
}
a.logout:hover, button.logout:hover, input.logout:hover {
  text-decoration: underline;
}
a.btn, button.btn, input.btn {
  display: inline-block;
  font-family: "Poppins";
  padding: 0 45px;
  color: #fff;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  background: #009E60;
}
a.btn.inverso, button.btn.inverso, input.btn.inverso {
  color: #009E60;
  border: 2px solid #009E60;
  background-color: #fff;
}
a.btn:hover, button.btn:hover, input.btn:hover {
  color: #fff;
  text-decoration: none;
}
a.btn + .btn, button.btn + .btn, input.btn + .btn {
  margin-left: 10px;
}
@media (max-width: 767px) {
  a.btn + .btn, button.btn + .btn, input.btn + .btn {
    margin-left: 0;
    margin-top: 16px;
  }
}
a:hover, button:hover, input:hover {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 767px) {
  [class*=col] + [class*=col] {
    margin-top: 24px;
  }
}

div.contato {
  display: flex;
  justify-content: flex-end;
}
div.contato .social-media {
  margin-right: 32px;
}
div.contato .social-media ul {
  list-style-type: none;
  display: flex;
  gap: 4px;
  align-items: center;
  margin: 0;
}
div.contato .mail {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-right: 38px;
  font-size: 20px;
}
div.contato .phone {
  display: flex;
  align-items: center;
  gap: 9px;
  font-size: 20px;
}

.conteudo-servicos {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  padding: 120px 160px;
}

.conteudo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 692.52px;
}
.conteudo h1 {
  color: #92B34A;
  font-size: 32px;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.conteudo h2 {
  font-size: 28px;
  margin-bottom: 24px;
}
.conteudo p:last-child {
  display: flex;
  flex: 1;
  align-items: flex-end;
}
.conteudo p:last-child a {
  display: flex;
  background-color: #3A7DC0;
  width: fit-content;
  white-space: nowrap;
  padding: 33px 40px;
  border-radius: 24px;
  color: #fff;
  font-size: 26px;
}
.conteudo p:last-child a::first-line {
  font-size: 20px;
}

.sidebar {
  color: #666666;
  background-color: #F8F8F8;
  padding: 48px 40px 40px;
  border-radius: 8px;
  max-width: 514px;
  flex: 1;
}
.sidebar label {
  display: block;
  margin-bottom: 8px;
}
.sidebar input, .sidebar textarea {
  width: 100%;
  border-radius: 5px;
  background: #fff;
  border: 0;
}
.sidebar input {
  height: 48px;
  margin-bottom: 16px;
}
.sidebar textarea {
  height: 128px;
  margin-bottom: 32px;
}
.sidebar button {
  height: 66px;
  padding: 24px;
  text-transform: uppercase;
  color: #fff;
  background-color: #92B34A;
  border-radius: 8px;
}

.contate {
  padding: 144px 15px;
  display: flex;
  justify-content: center;
  background: url("../img/bg-servicos.png") center no-repeat;
  background-size: cover;
}
.contate .texto {
  max-width: 408px;
  text-align: center;
  color: #fff;
}
.contate .texto h2 {
  font-size: 32px;
  margin: 24px 0 32px;
  text-transform: uppercase;
}
.contate .texto a {
  display: block;
  width: 100%;
  height: 72px;
  line-height: 72px;
  border-radius: 8px;
  background-color: #3A7DC0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

.sobre {
  padding: 120px 0;
}
.sobre h3 {
  font-size: 20px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.sobre h2 {
  text-transform: uppercase;
  color: #92B34A;
  font-size: 32px;
  margin-bottom: 32px;
}
.sobre a {
  display: block;
  font-size: 20px;
  padding: 16px;
  text-transform: uppercase;
  background-color: #92B34A;
  color: #fff;
  max-width: 267px;
  text-align: center;
  border-radius: 8px;
}

.historia {
  padding: 120px 0;
  background-color: #F9F9F9;
}
.historia h3 {
  font-size: 20px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.historia h2 {
  text-transform: uppercase;
  color: #92B34A;
  font-size: 32px;
  margin-bottom: 32px;
}

.pilares {
  padding: 120px 0;
  background: url("../img/bg-pilares.png") center no-repeat;
  background-size: contain;
}
.pilares h3 {
  font-size: 20px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.pilares h2 {
  text-transform: uppercase;
  color: #92B34A;
  font-size: 32px;
  margin-bottom: 32px;
}

.tag {
  padding: 48px;
  border-radius: 24px;
  float: right;
  background-color: #3A7DC0;
  color: #fff;
  text-transform: uppercase;
  font-size: 32px;
}

section.contato {
  padding: 120px 160px;
  display: flex;
  gap: 32px;
}
section.contato h3 {
  font-size: 20px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
section.contato h2 {
  text-transform: uppercase;
  color: #92B34A;
  font-size: 32px;
  margin-bottom: 32px;
}
section.contato .texto {
  flex: 1;
}
section.contato .form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
section.contato .form label {
  display: block;
  flex: 1 0 45%;
  max-width: calc(50% - 8px);
  margin-bottom: 16px;
}
section.contato .form label:last-of-type {
  flex-basis: 100%;
  max-width: 100%;
  flex: 1 0 45%;
}
section.contato .form input {
  width: 100%;
  margin-top: 8px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid #ACABB7;
}
section.contato .form textarea {
  height: 128px;
  border: 1px solid #ACABB7;
  border-radius: 5px;
  width: 100%;
}

.fale-conosco {
  padding: 120px 160px;
  display: flex;
  gap: 30px;
}
.fale-conosco > div {
  flex: 1;
  background-color: #F9F9F9;
  border-radius: 16px;
  padding: 42px 96px 42px 48px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.fale-conosco > div h3 {
  text-transform: uppercase;
  font-size: 24px;
}
.fale-conosco > div.tel h3 {
  color: #3A7DC0;
}
.fale-conosco > div.whats h3 {
  color: #92B34A;
}
.fale-conosco iframe {
  width: 100%;
  height: 638px;
  border: 0;
  margin-top: 120px;
}

.localizacao {
  padding: 120px 160px;
}

.servicos h3 {
  font-size: 20px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.servicos h2 {
  text-transform: uppercase;
  color: #92B34A;
  font-size: 32px;
  margin-bottom: 32px;
}
.servicos .circle-menu {
  width: 100%;
  height: 0;
  padding-top: 96.05%;
  background-image: url("../img/circle-menu-sprites.png");
  background-repeat: no-repeat;
  background-size: 700%;
  position: relative;
}
.servicos .circle-menu:has(.btn-circle:nth-child(1):hover) {
  background-position-x: 16.65%;
}
.servicos .circle-menu:has(.btn-circle:nth-child(2):hover) {
  background-position-x: 33.33%;
}
.servicos .circle-menu:has(.btn-circle:nth-child(3):hover) {
  background-position-x: 49.99%;
}
.servicos .circle-menu:has(.btn-circle:nth-child(4):hover) {
  background-position-x: 66.66%;
}
.servicos .circle-menu:has(.btn-circle:nth-child(5):hover) {
  background-position-x: 83.32%;
}
.servicos .circle-menu:has(.btn-circle:nth-child(6):hover) {
  background-position-x: 99.99%;
}
.servicos .circle-menu .btn-circle {
  width: 216px;
  height: 160px;
  position: absolute;
  background: transparent;
  clip-path: polygon(4% 0, 116% 0, 54% 100%, 37% 100%);
  cursor: pointer;
}
.servicos .circle-menu .btn-circle:nth-child(1) {
  transform: rotate(-39deg);
  top: 3%;
  left: 8%;
}
.servicos .circle-menu .btn-circle:nth-child(2) {
  transform: rotate(22deg);
  top: 2.7%;
  left: 37.8%;
}
.servicos .circle-menu .btn-circle:nth-child(3) {
  transform: rotate(82deg);
  top: 29.4%;
  left: 52.6%;
}
.servicos .circle-menu .btn-circle:nth-child(4) {
  transform: rotate(141deg);
  top: 55.6%;
  left: 38%;
}
.servicos .circle-menu .btn-circle:nth-child(5) {
  transform: rotate(203deg);
  top: 55.8%;
  left: 8%;
}
.servicos .circle-menu .btn-circle:nth-child(6) {
  transform: rotate(266deg);
  top: 28.5%;
  left: -6.5%;
}
.servicos .texto-menu-circle:has(input:not(#solo):checked) div:first-child {
  display: none;
}
.servicos .texto-menu-circle > div:not(:first-child), .servicos .texto-menu-circle > div input {
  display: none;
}
.servicos .texto-menu-circle > div:has(input:checked) {
  display: block;
}
.servicos:has(div:nth-child(1) input:checked) .circle-menu {
  background-position-x: 16.675%;
}
.servicos:has(div:nth-child(2) input:checked) .circle-menu {
  background-position-x: 33.35%;
}
.servicos:has(div:nth-child(3) input:checked) .circle-menu {
  background-position-x: 50.025%;
}
.servicos:has(div:nth-child(4) input:checked) .circle-menu {
  background-position-x: 66.67%;
}
.servicos:has(div:nth-child(5) input:checked) .circle-menu {
  background-position-x: 83.36%;
}
.servicos:has(div:nth-child(6) input:checked) .circle-menu {
  background-position-x: 100.01%;
}

.accordion-wrapper:not(:last-child) {
  margin-bottom: 32px;
}
.accordion-wrapper .accordion-title {
  background: #ddd;
  border-radius: 4px;
  cursor: pointer;
}
.accordion-wrapper .accordion-title-text {
  padding: 10px 30px 10px 10px;
  width: 100%;
  font-size: 14px;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  position: relative;
  margin-bottom: 0;
}
.accordion-wrapper .accordion-title-text strong {
  color: #9F2582;
  text-transform: uppercase;
  font-family: "Quicksand";
}
.accordion-wrapper .accordion-title-text::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-left: 2px solid #9F2582;
  border-bottom: 2px solid #9F2582;
  transform: rotate(-45deg);
  position: absolute;
  top: calc(50% - 7.5px);
  right: 15px;
  transition: 0.4s;
}
.accordion-wrapper .accordion-content {
  display: none;
  padding: 20px;
  border-radius: 4px;
  margin-top: 2px;
  background: #eee;
}
.accordion-wrapper .accordion-item.open .accordion-title {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.accordion-wrapper .accordion-item.open .accordion-title-text::after {
  transform: rotate(-225deg);
}
.accordion-wrapper .accordion-item + * {
  margin-top: 24px;
}

.featherlight .featherlight-content {
  background: transparent;
}
.featherlight .featherlight-content .featherlight-close-icon {
  color: #fff;
}
.featherlight:last-of-type {
  background: rgba(117, 38, 134, 0.9);
}

.seletor-custom {
  position: relative;
  font-family: Arial;
}
.seletor-custom select {
  display: none;
  /*hide original SELECT element: */
}

.select-selected {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  border-top: 2px solid #929292;
  border-right: 2px solid #929292;
  border-left: 2px solid #929292;
  border-bottom: 2px solid #929292;
}
.select-selected::after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 8px;
  height: 8px;
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  transform: rotate(45deg);
}
.select-selected.select-arrow-active {
  border-radius: 4px 4px 0 0;
  border-bottom: none;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
  padding: 8px 16px;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  border-radius: 0 0 4px 4px;
  color: #9F2582;
  height: 500px;
  overflow-y: scroll;
  position: absolute;
  border-right: 2px solid #929292;
  border-bottom: 2px solid #929292;
  border-left: 2px solid #929292;
  background-color: #fff;
  padding: 20px;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.select-items::-webkit-scrollbar {
  width: 8px;
}
.select-items::-webkit-scrollbar-track {
  background: transparent;
  margin-right: 32px;
  border-radius: 4px;
}
.select-items::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-radius: 4px;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.select-items div + div {
  border-top: 2px solid #ddd;
}

.tabs-wrapper {
  margin: 0;
  position: relative;
}
.tabs-wrapper .tabs-content-wrapper {
  padding: 30px;
}
.tabs-wrapper .tabs-content-wrapper ul li::before {
  background: #009E60;
}
.tabs-wrapper .wrap-tabs .tabs {
  overflow: hidden;
  display: flex;
  border-bottom: 1px solid #ddd;
}
.tabs-wrapper .wrap-tabs .tabs .tab-icone {
  height: 60px;
  line-height: 60px;
  transition: 0.2s;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  padding: 0 15px;
  color: #929292;
  font-weight: bold;
  font-family: "Poppins";
}
.tabs-wrapper .wrap-tabs .tabs .tab-icone.active {
  border-bottom: 4px solid #009E60;
  color: #009E60;
}

.slider-wrapper:not(.enderecos) .slick-slide {
  display: table;
  position: relative;
  color: #fff;
  height: 540px;
}
@media (max-width: 1199px) {
  .slider-wrapper:not(.enderecos) .slick-slide {
    height: 350px;
    display: block;
  }
}
.slider-wrapper:not(.enderecos) .slick-slide .slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider-wrapper:not(.enderecos) .slick-slide .slide-bg img {
  width: 100%;
  height: 100%;
}
.slider-wrapper:not(.enderecos) .slick-slide .container, .slider-wrapper:not(.enderecos) .slick-slide .row {
  height: 100%;
}
.slider-wrapper:not(.enderecos) .slick-slide h2 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
.slider-wrapper:not(.enderecos) .slick-slide a {
  font-family: "Poppins";
  margin-top: 32px;
  display: inline-block;
  padding: 0 45px;
  color: #fff;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  background: #009E60;
}
.slider-wrapper:not(.enderecos) .slick-slide a:hover {
  color: #fff;
  text-decoration: none;
}
.slider-wrapper:not(.enderecos) .slick-dots {
  position: absolute;
  bottom: 20%;
  z-index: 10;
  width: 100%;
  max-width: 1110px;
  margin: auto;
  left: 0;
  right: 0;
}
@media (max-width: 767px) {
  .slider-wrapper:not(.enderecos) .slick-dots {
    bottom: 15px;
    left: 15px;
  }
}
.slider-wrapper .content-slider {
  padding: 0;
  margin-bottom: 0;
}
.slider-wrapper .slick-list {
  z-index: 5;
  border-radius: 0;
}
.slider-wrapper .slick-dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 0;
  border: 2px solid #fff;
  border-radius: 100%;
  margin: 0 8px;
  transition: opacity 0.3s, background 0.3s;
  cursor: pointer;
}
.slider-wrapper .slick-dots li.slick-active {
  background: #fff;
  opacity: 1;
}
.slider-wrapper .slick-dots li button {
  text-indent: -9999px;
}
.slider-wrapper.enderecos .slick-dots {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .slider-wrapper.enderecos .slick-slide {
    text-align: center;
  }
}

.slider-center {
  height: auto;
  position: absolute;
  z-index: 1000000000000000100000;
  top: 50%;
  max-width: 500px;
  transform: translate(0, -50%);
}

/*# sourceMappingURL=main.css.map */
